*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.webapp{
  display: flex;
 
}
#output{
    width: 800px;
    height: 60vh;
    position: relative;
}
img{
    width: 100%;
    height: 100%;
}
.none{
    display: none;
}
.block{
    display: block;
}
.arrow {
    position: absolute;
    transform:translate(-50%,-50%);
    margin: 10px 0;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 3px #000;
    opacity: 0.7;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    z-index: 999;
  }
  
  .arrow:hover {
    opacity: 1;
  }
  
  #arrow-up {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-30%);
  }
  
  #arrow-down {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%,-134%);

  }
  .none{
    display: none;
  }
  .block{
    display: block;
  }
  .app{
    height: 100vh;
  }
  header{
    min-height: 20%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,67,254,1) 47%, rgba(0,212,255,1) 100%); 
  }
  footer{
    min-height: 20%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,67,254,1) 47%, rgba(0,212,255,1) 100%); 
  }
  main{
    min-height: 60%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,251,254,1) 47%, rgba(0,212,255,1) 100%);
 }
 #colonna {
  position: relative;
  width: 150px;
  display: flex;
  flex-direction: column;
  background-color: #000;
  min-height: 60vh;
}
#colonna > img{
 height: calc(60vh / 5);
}
.active-colonna{
  border: 2px solid deepskyblue;
  filter: sepia(1);
}
.pointer{
  width: 11px;
  height: 11px;
  border: 1px solid red;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
}
.pointer-active{
  width: 11px;
  height: 11px;
  background-color: yellow;
  border-radius: 50%;

}
.pointer-container{
  display: flex;
  position: absolute;
  bottom: 0;
  z-index: 1;
  gap: 5px;
  left: 45%;
  transform: translate(-45%,-0);
}
.slide{
  position: relative;
}

